.App {
  text-align: center;
}

.app_logo{
  height: 150px;
  width:150px;
}

.app_title{
  margin-top : 10px;
}

.app_cityinput{
  margin-left: 30px;
  margin-right: 30px;
  margin-top:60px;
}

.app_countryinput{
  margin-left: 30px;
  margin-right: 30px;
  margin-top:60px;
}

body{
  background-image : url(./Assets/background.jpeg)
}